# <span style="color:purple">Exploring Datasets and Tables</span>

Import the `wrds` package in python, along with any other packages you will use.

In [1]:
# packages
import wrds
import pandas as pd

Once you have a hidden pgpass file saved, you will not have to enter your crednetials the next time you login to the **WRDS** API in python.

In [2]:
conn = wrds.Connection(wrds_username='ambreen')

Loading library list...
Done

These are the available functions in the `wrds` package:Â¶

* `conn.connection()` - setup
* `conn.list_libraries()` - explore
* `conn.list_tables()` - explore
* `conn.describe_table()` - explore
* `conn.get_table()` - queries
* `conn.raw_sql()` - queries

To get details on any of these functions.

In [3]:
help(conn.list_libraries)

Help on method list_libraries in module wrds.sql:

list_libraries() method of wrds.sql.Connection instance
    Return all the libraries (schemas) the user can access.

    :rtype: list

    Usage::
    >>> db.list_libraries()
    ['aha', 'audit', 'block', 'boardex', ...]

#### To get a list of all WRDS libraries or databases

In [4]:
conn.list_libraries()[0:5]

['aha_sample', 'ahasamp', 'audit', 'audit_audit_comp', 'audit_common']

#### To find all the tables in certain Compustat or Orbis databases.

In [5]:
conn.list_tables(library='comp_na_annual_all')[0:5]

['aco_amda', 'aco_imda', 'aco_indfnta', 'aco_indfntq', 'aco_indfntytd']

In [6]:
conn.list_tables(library='bvd_orbis_large')[0:5]

['ob_additional_company_info_l',
 'ob_all_addresses_l',
 'ob_all_cur_shh_1st_level_l',
 'ob_all_subs_first_level_l',
 'ob_auditors_current_l']

To find a list of datasets by vendor, go here: 

To find table descriptions and variable definitions, go:
https://wrds-www.wharton.upenn.edu/pages/about/data-vendors

* here for Compustat: 

* here for BVD Orbis: https://wrds-www.wharton.upenn.edu/pages/about/data-vendors/bureau-van-dijk-bvd/

To find a description of a particular table in a database.

In [7]:
conn.describe_table(library='bvd_orbis_large', table='ob_key_financials_l')

Approximately 15760231 rows in bvd_orbis_large.ob_key_financials_l.

                   name  nullable              type comment
0                 bvdid      True       VARCHAR(50)    None
1   category_of_company      True       VARCHAR(20)    None
2               ctryiso      True        VARCHAR(2)    None
3              conscode      True        VARCHAR(2)    None
4           filing_type      True       VARCHAR(25)    None
5              closdate      True              DATE    None
6         closdate_year      True  DOUBLE_PRECISION    None
7             nr_months      True        VARCHAR(2)    None
8             audstatus      True       VARCHAR(25)    None
9           accpractice      True       VARCHAR(25)    None
10               source      True       VARCHAR(50)    None
11           orig_units      True       VARCHAR(25)    None
12        orig_currency      True        VARCHAR(3)    None
13             exchrate      True  DOUBLE_PRECISION    None
14                 opre      True  DOUBLE_PRECISION    None
15                 plbt      True  DOUBLE_PRECISION    None
16                   pl      True  DOUBLE_PRECISION    None
17                   cf      True  DOUBLE_PRECISION    None
18                 toas      True  DOUBLE_PRECISION    None
19                 shfd      True  DOUBLE_PRECISION    None
20                 curr      True  DOUBLE_PRECISION    None
21                 prma      True  DOUBLE_PRECISION    None
22                 rshf      True  DOUBLE_PRECISION    None
23                 rcem      True  DOUBLE_PRECISION    None
24                 solr      True  DOUBLE_PRECISION    None
25                 _611      True  DOUBLE_PRECISION    None
26                 empl      True  DOUBLE_PRECISION    None
27      astk_market_cap      True  DOUBLE_PRECISION    None